.nav-bar {
    width: 300px;
    min-width: 300px;
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    border-right: 1px solid var(--grey-light-2);
}

.container-navs {
    height: calc(100vh - 125px);
}

.container-navs nav {
    padding: 15px ;
}

.project-list::-webkit-scrollbar {
    appearance: none;
}

.project-list::-webkit-scrollbar-thumb {
    background: var(--grey-light-2);
    border: 5px solid #ffffff;
    border-radius: 50px;
    display: none;
}

.project-list:hover::-webkit-scrollbar-thumb{
    display: block;
}

.project-list {
    margin-left: 15px;
    padding-left: 10px;
    border-left: 1px solid var(--grey-light-2);
    max-height: 300px;
    overflow: auto;
}

.project-list li a {
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    max-width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.project-list li a:hover {
    background: var(--grey-light-3);
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    padding: 15px;
    background: var(--grey-light-3);
    height: 65px;
    min-height: 65px;
}

.user-options{
    border-radius: 5px;
    height: 30px;  
    min-width: 30px; 
    position: relative;
}

.user .fa-ellipsis-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-options:hover {
    background: #00000010;
}

.container-img-user {
    height: 35px;
    width: 35px;
    min-height: 35px;
    min-width: 35px;
}

.container-img-user img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.name-user{
    font-size: 16px;
    width: 100%;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 95px );
}

.fa-diagram-project {
    height: 15px;
    width: 17px;
    margin: 10px;
    display: inline-block;
}