.nav-bar {
    width: 300px;
    min-width: 300px;
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    border-right: 1px solid var(--grey-light-2);
}

.container-navs {
    height: calc(100vh - 125px);
}

.container-navs nav {
    padding: 15px ;
}

.project-list::-webkit-scrollbar {
    appearance: none;
}

.project-list::-webkit-scrollbar-thumb {
    background: var(--grey-light-2);
    border: 5px solid #ffffff;
    border-radius: 50px;
    display: none;
}

.project-list:hover::-webkit-scrollbar-thumb{
    display: block;
}

.project-list {
    margin-left: 15px;
    padding-left: 10px;
    border-left: 1px solid var(--grey-light-2);
    max-height: 300px;
    overflow: auto;
}

.project-list li a {
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    max-width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
}

.project-list li a:hover {
    background: var(--grey-light-3);
}

