.container-list-stage {
    position: relative;
}

.list-stages {
    display: flex;
    gap: 20px;
    align-items: start;
    margin-top: 20px;
    padding: 0 20px 10px;
    width: calc(100vw - 320px);
    overflow-x: auto;
    height: calc(100vh - 170px);
}

.list-stages .container-loading {
    width: 100px;
}

.list-stages::-webkit-scrollbar {
    appearance: none;
}

.list-stages::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 5px solid #ffffff;
    background: var(--white);
}

.list-stages:hover::-webkit-scrollbar-thumb {
    background: var(--grey-light-2);
}

.stage {
    height: auto;
    width: 300px;
    min-width: 300px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background: var(--grey-light-3  );
}

.stage a {
    display: inline-block;
    padding: 15px;
    height: 100%;
}

.stage h2 {
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid var(--grey-light-1);
    display: inline-block;
    background: #ffffff;
    font-weight: 300;
}

.stage span {
    display: block;
}

.stage p {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    pointer-events: none;
    display: block;
    margin: 10px 0;
    word-wrap: break-word;
}

.stage span {
    font-size: 14px;
}

.options-stage {
    display: flex;
    justify-content: flex-end;
    gap: 3px;
    transition: .3s;
    position: absolute;
    right: 10px;
    top: 10px;
}


.options-stage button {
    border: none;
    border-radius: 5px;
    background: none;
    padding: 5px 10px;
    min-height: 25px;
    min-width: 30px;
    cursor: pointer;
    background: var(--grey-light-3);
}

.options-stage button:hover {
    background: var(--grey-light-2);
}
