.project-not-found {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--grey-light-2);
    margin: 60px auto;
    height: 80px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-not-found a {
    color: var(--primary);
}

.header-project {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 40px;
}

.header-project>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.name-project {
    font-size: 28px;
}

.nav-project {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 20px;
}

.create-new-stage {
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 15px;
    background: none;
    border: none;
    font-size: 16px;
    border: 1px solid;
}

.container-new-stage {
    position: absolute;
    background: var(--white);
    top: 0;
    left: 0;
    z-index: 100;
    border-radius: 0 10px 10px 0;
}

.container-new-stage form {
    border-radius: 10px;
    border: 1px solid var(--grey-light-2);
    overflow: hidden;
    width: 400px;
    box-shadow: 0 5px 10px #00000020;
}

.container-new-stage input[type="text"] {
    width: 100%;
    padding: 10px 50px 10px 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

.container-new-stage input[type="color"], .container-stage input[type="color"] {
margin: 10px;
}

.color-name {
    position: relative;
    top: -5px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 20px;
}

.container-new-stage textarea {
    font-size: 14px;
    width: 100%;
    height: 120px;
    resize: none;
    padding: 7px 10px;
    border: none;
    outline: none;
}

.counter-leter {
    font-size: 12px;
    color: var(--grey-light-1);
    display: block;
    text-align: end;
}

.container-new-stage .counter-leter:nth-child(2) {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--white);
    backdrop-filter: blur(3px);
}

.container-new-stage .counter-leter:nth-child(4) {
    padding: 5px 10px;
}

.container-new-stage .message-error {
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.nav-project ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info-project {
    display: flex;
    align-items: center;
    gap: 20px;
}

.progress-project {
    position: relative;
    width: 180px;
}

.progress-project div {
    border-radius: 15px;
    height: 5px;

}

.progress-total {
    background: var(--grey-light-2);
}

.progress-completed {
    background: var(--primary);
    left: 0;
    top: 0;
    position: absolute;
}

.progress-project span {
    position: absolute;
    top: -15px;
    right: 0;
    font-size: 12px;
    color: var(--grey-light-1);
}

.option-project {
    display: flex;
    gap: 10px;
    align-items: center;
}