.header-app {
    width: 100%;
    display: flex;
    min-height: 60px;
    height: 60px;
    border-bottom: 1px solid var(--grey-light-2);
}

#unite-project {
    background: var(--white);
    border: none;
    border-right: 1px solid var(--grey-light-2);
    color: var(--black);
    font-size: 16px;
    cursor: pointer;
    width: 100px;
}

#unite-project:hover {
    background: var(--grey-light-3);
}

#new-project {
    width: 230px;
    background: var(--primary-light);
    border: none;
    color: var(--primary);
        font-size: 18px;
    cursor: pointer;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

#new-project:hover {
    background:  #E2501630;
}